.form-row label.l-width {
    width: 25%;
    min-width: 120px;
}
.form-row label.a-width {
    width: auto;
}
.s-width {width:70% !important;}

.ms-choice {
    height:34px;
    border: 1px solid rgb(204, 204, 204);
    line-height: 34px !important;
}
.ms-search input {
    width:100% !important;
}
.ms-drop li label {
    width:20px !important;
}
.ms-drop li span {
    padding-left:5px !important;
}
button.active {
    background-color: #ddd;
}
.help_block {
    display: none;
}
.help-tips {
    font-style: italic;
    font-size: 12px;
}

.sh_serial {
    font-size: 12px;
    font-weight: lighter;
}
.ms-drop ul > li.group {
    border-top:1px solid #aaa;
}
